# Зависимости
node_modules/

# Переменные окружения
.env
.env.local
.env.*.local

# Загруженные файлы
uploads/*
!uploads/.gitkeep

# Логи
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/*.db-journal

# Временные файлы
tmp/
temp/